* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: sans-serif;
  background-color: #212121;
}

.notifications-block {
  position: fixed;
  top: 0;
  right: 0;
  max-height: 100vh;
  height: auto;
  width: auto;
  padding: 0 20px;
  overflow-y: auto;

  &::-webkit-scrollbar {
    display: none;
  }

  .msg-item {
    background-color: rgba(128, 128, 128, .5);
    height: 60px;
    width: 300px;
    border-radius: 12px;
    margin-top: 10px;
    transform: translateX(400px);
    display: flex;
    transition: all .5s ease-in-out;

    &.add {
      transform: translateX(0);
    }

    &.remove {
      animation: remove .8s ease-in-out forwards;
    }

    .content {
      flex: 1;
      display: flex;
      align-items: center;
      padding: 7px;

      .title {
        font-size: 12px;
        line-height: 15px;
        color: #ffffff;
      }

      .text {
        font-size: 10px;
        line-height: 12px;
        color: #adadad;
      }
    }

    .button-block {
      width: 65px;
      border-left: 1px solid #696969;
      display: flex;
      flex-direction: column;

      .btn {
        display: block;
        appearance: none;
        border: none;
        outline: none;
        background: transparent;
        width: 100%;
        flex: 1;
        font-size: 10px;
        line-height: 12px;
        color: #d5d5d5;
        cursor: pointer;

        &:not(:first-child) {
          border-top: 1px solid #696969;
        }
      }
    }

    .icon {
      min-width: 40px;
      height: 40px;
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      margin-right: 7px;

      &.time {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15 11H13V7C13 6.73478 12.8946 6.48043 12.7071 6.29289C12.5196 6.10536 12.2652 6 12 6C11.7348 6 11.4804 6.10536 11.2929 6.29289C11.1054 6.48043 11 6.73478 11 7V12C11 12.2652 11.1054 12.5196 11.2929 12.7071C11.4804 12.8946 11.7348 13 12 13H15C15.2652 13 15.5196 12.8946 15.7071 12.7071C15.8946 12.5196 16 12.2652 16 12C16 11.7348 15.8946 11.4804 15.7071 11.2929C15.5196 11.1054 15.2652 11 15 11ZM12 2C10.0222 2 8.08879 2.58649 6.4443 3.6853C4.79981 4.78412 3.51809 6.3459 2.76121 8.17317C2.00433 10.0004 1.8063 12.0111 2.19215 13.9509C2.578 15.8907 3.53041 17.6725 4.92894 19.0711C6.32746 20.4696 8.10929 21.422 10.0491 21.8079C11.9889 22.1937 13.9996 21.9957 15.8268 21.2388C17.6541 20.4819 19.2159 19.2002 20.3147 17.5557C21.4135 15.9112 22 13.9778 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7363 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2ZM12 20C10.4178 20 8.87104 19.5308 7.55544 18.6518C6.23985 17.7727 5.21447 16.5233 4.60897 15.0615C4.00347 13.5997 3.84504 11.9911 4.15372 10.4393C4.4624 8.88743 5.22433 7.46197 6.34315 6.34315C7.46197 5.22433 8.88743 4.4624 10.4393 4.15372C11.9911 3.84504 13.5997 4.00346 15.0615 4.60896C16.5233 5.21447 17.7727 6.23984 18.6518 7.55544C19.5308 8.87103 20 10.4177 20 12C20 14.1217 19.1572 16.1566 17.6569 17.6569C16.1566 19.1571 14.1217 20 12 20Z' fill='%23ffffff'/%3E%3C/svg%3E%0A");
      }

      &.close {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.7101 8.28983C15.6171 8.19611 15.5065 8.12171 15.3847 8.07094C15.2628 8.02017 15.1321 7.99404 15.0001 7.99404C14.8681 7.99404 14.7374 8.02017 14.6155 8.07094C14.4936 8.12171 14.383 8.19611 14.2901 8.28983L12.0001 10.5898L9.71008 8.28983C9.52178 8.10153 9.26638 7.99574 9.00008 7.99574C8.73378 7.99574 8.47838 8.10153 8.29008 8.28983C8.10178 8.47814 7.99599 8.73353 7.99599 8.99984C7.99599 9.26614 8.10178 9.52153 8.29008 9.70984L10.5901 11.9998L8.29008 14.2898C8.19635 14.3828 8.12196 14.4934 8.07119 14.6153C8.02042 14.7371 7.99428 14.8678 7.99428 14.9998C7.99428 15.1318 8.02042 15.2626 8.07119 15.3844C8.12196 15.5063 8.19635 15.6169 8.29008 15.7098C8.38304 15.8036 8.49364 15.878 8.6155 15.9287C8.73736 15.9795 8.86807 16.0056 9.00008 16.0056C9.13209 16.0056 9.2628 15.9795 9.38466 15.9287C9.50652 15.878 9.61712 15.8036 9.71008 15.7098L12.0001 13.4098L14.2901 15.7098C14.383 15.8036 14.4936 15.878 14.6155 15.9287C14.7374 15.9795 14.8681 16.0056 15.0001 16.0056C15.1321 16.0056 15.2628 15.9795 15.3847 15.9287C15.5065 15.878 15.6171 15.8036 15.7101 15.7098C15.8038 15.6169 15.8782 15.5063 15.929 15.3844C15.9797 15.2626 16.0059 15.1318 16.0059 14.9998C16.0059 14.8678 15.9797 14.7371 15.929 14.6153C15.8782 14.4934 15.8038 14.3828 15.7101 14.2898L13.4101 11.9998L15.7101 9.70984C15.8038 9.61687 15.8782 9.50627 15.929 9.38441C15.9797 9.26255 16.0059 9.13185 16.0059 8.99984C16.0059 8.86782 15.9797 8.73712 15.929 8.61526C15.8782 8.4934 15.8038 8.3828 15.7101 8.28983ZM19.0701 4.92984C18.1476 3.97473 17.0442 3.21291 15.8241 2.68882C14.6041 2.16473 13.2919 1.88887 11.9641 1.87733C10.6363 1.86579 9.3195 2.11881 8.09054 2.62162C6.86158 3.12443 5.74506 3.86696 4.80613 4.80589C3.8672 5.74481 3.12467 6.86133 2.62186 8.09029C2.11905 9.31926 1.86604 10.6361 1.87757 11.9638C1.88911 13.2916 2.16498 14.6038 2.68907 15.8239C3.21316 17.0439 3.97498 18.1474 4.93008 19.0698C5.85255 20.0249 6.95599 20.7868 8.17603 21.3109C9.39607 21.8349 10.7083 22.1108 12.0361 22.1223C13.3639 22.1339 14.6807 21.8809 15.9096 21.3781C17.1386 20.8752 18.2551 20.1327 19.194 19.1938C20.133 18.2549 20.8755 17.1383 21.3783 15.9094C21.8811 14.6804 22.1341 13.3636 22.1226 12.0358C22.111 10.708 21.8352 9.39583 21.3111 8.17579C20.787 6.95575 20.0252 5.8523 19.0701 4.92984ZM17.6601 17.6598C16.3521 18.9692 14.6306 19.7847 12.7889 19.9671C10.9471 20.1496 9.09908 19.6879 7.5596 18.6606C6.02012 17.6333 4.88444 16.104 4.34605 14.3333C3.80767 12.5626 3.89988 10.66 4.60699 8.94962C5.3141 7.23926 6.59235 5.82698 8.22397 4.9534C9.85559 4.07981 11.7396 3.79897 13.5551 4.15871C15.3706 4.51845 17.0051 5.49653 18.1803 6.9263C19.3555 8.35607 19.9986 10.1491 20.0001 11.9998C20.0036 13.0511 19.7987 14.0927 19.397 15.0642C18.9953 16.0358 18.405 16.918 17.6601 17.6598Z' fill='red'/%3E%3C/svg%3E");
      }

      &.ok {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.72 8.79L10.43 13.09L8.78 11.44C8.69036 11.3353 8.58004 11.2503 8.45597 11.1903C8.33191 11.1303 8.19678 11.0965 8.05906 11.0912C7.92134 11.0859 7.78401 11.1091 7.65568 11.1594C7.52736 11.2096 7.41081 11.2859 7.31335 11.3833C7.2159 11.4808 7.13964 11.5974 7.08937 11.7257C7.03909 11.854 7.01589 11.9913 7.02121 12.1291C7.02653 12.2668 7.06026 12.4019 7.12028 12.526C7.1803 12.65 7.26532 12.7604 7.37 12.85L9.72 15.21C9.81344 15.3027 9.92426 15.376 10.0461 15.4258C10.1679 15.4755 10.2984 15.5008 10.43 15.5C10.6923 15.4989 10.9437 15.3947 11.13 15.21L16.13 10.21C16.2237 10.117 16.2981 10.0064 16.3489 9.88458C16.3997 9.76272 16.4258 9.63201 16.4258 9.5C16.4258 9.36799 16.3997 9.23728 16.3489 9.11542C16.2981 8.99356 16.2237 8.88296 16.13 8.79C15.9426 8.60375 15.6892 8.49921 15.425 8.49921C15.1608 8.49921 14.9074 8.60375 14.72 8.79ZM12 2C10.0222 2 8.08879 2.58649 6.4443 3.6853C4.79981 4.78412 3.51809 6.3459 2.76121 8.17317C2.00433 10.0004 1.8063 12.0111 2.19215 13.9509C2.578 15.8907 3.53041 17.6725 4.92894 19.0711C6.32746 20.4696 8.10929 21.422 10.0491 21.8079C11.9889 22.1937 13.9996 21.9957 15.8268 21.2388C17.6541 20.4819 19.2159 19.2002 20.3147 17.5557C21.4135 15.9112 22 13.9778 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7363 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2ZM12 20C10.4178 20 8.87104 19.5308 7.55544 18.6518C6.23985 17.7727 5.21447 16.5233 4.60897 15.0615C4.00347 13.5997 3.84504 11.9911 4.15372 10.4393C4.4624 8.88743 5.22433 7.46197 6.34315 6.34315C7.46197 5.22433 8.88743 4.4624 10.4393 4.15372C11.9911 3.84504 13.5997 4.00346 15.0615 4.60896C16.5233 5.21447 17.7727 6.23984 18.6518 7.55544C19.5308 8.87103 20 10.4177 20 12C20 14.1217 19.1572 16.1566 17.6569 17.6569C16.1566 19.1571 14.1217 20 12 20Z' fill='green'/%3E%3C/svg%3E%0A");
      }

      &.warn {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12 16.0003C11.8022 16.0003 11.6088 16.0589 11.4444 16.1688C11.2799 16.2787 11.1518 16.4349 11.0761 16.6176C11.0004 16.8003 10.9806 17.0014 11.0192 17.1954C11.0578 17.3893 11.153 17.5675 11.2929 17.7074C11.4327 17.8472 11.6109 17.9425 11.8049 17.9811C11.9989 18.0196 12.1999 17.9998 12.3827 17.9242C12.5654 17.8485 12.7216 17.7203 12.8314 17.5558C12.9413 17.3914 13 17.1981 13 17.0003C13 16.7351 12.8946 16.4807 12.7071 16.2932C12.5195 16.1056 12.2652 16.0003 12 16.0003ZM22.67 17.4703L14.62 3.47027C14.3598 3.00379 13.9798 2.61523 13.5192 2.34474C13.0586 2.07425 12.5341 1.93164 12 1.93164C11.4658 1.93164 10.9414 2.07425 10.4808 2.34474C10.0202 2.61523 9.64016 3.00379 9.37997 3.47027L1.37997 17.4703C1.11076 17.9243 0.96611 18.4413 0.960612 18.9691C0.955114 19.4969 1.08897 20.0168 1.34865 20.4763C1.60834 20.9358 1.98467 21.3187 2.43965 21.5863C2.89463 21.8539 3.41215 21.9967 3.93997 22.0003H20.06C20.592 22.0055 21.1159 21.8692 21.5779 21.6052C22.0399 21.3412 22.4233 20.9591 22.6889 20.4981C22.9546 20.0371 23.0928 19.5137 23.0895 18.9816C23.0861 18.4495 22.9414 17.9279 22.67 17.4703ZM20.94 19.4703C20.8523 19.6262 20.7244 19.7558 20.5697 19.8455C20.4149 19.9352 20.2389 19.9817 20.06 19.9803H3.93997C3.76108 19.9817 3.58507 19.9352 3.43029 19.8455C3.2755 19.7558 3.14762 19.6262 3.05997 19.4703C2.9722 19.3183 2.92599 19.1458 2.92599 18.9703C2.92599 18.7947 2.9722 18.6223 3.05997 18.4703L11.06 4.47027C11.1439 4.30647 11.2714 4.169 11.4284 4.07301C11.5854 3.97702 11.7659 3.92623 11.95 3.92623C12.134 3.92623 12.3145 3.97702 12.4715 4.07301C12.6286 4.169 12.7561 4.30647 12.84 4.47027L20.89 18.4703C20.9892 18.6201 21.0462 18.7939 21.055 18.9734C21.0638 19.1529 21.0241 19.3314 20.94 19.4903V19.4703ZM12 8.00027C11.7348 8.00027 11.4804 8.10563 11.2929 8.29316C11.1053 8.4807 11 8.73505 11 9.00027V13.0003C11 13.2655 11.1053 13.5198 11.2929 13.7074C11.4804 13.8949 11.7348 14.0003 12 14.0003C12.2652 14.0003 12.5195 13.8949 12.7071 13.7074C12.8946 13.5198 13 13.2655 13 13.0003V9.00027C13 8.73505 12.8946 8.4807 12.7071 8.29316C12.5195 8.10563 12.2652 8.00027 12 8.00027Z' fill='orange'/%3E%3C/svg%3E");
      }

      &.up {
        background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M12.71 8.29C12.6149 8.19896 12.5028 8.12759 12.38 8.08C12.1365 7.97998 11.8635 7.97998 11.62 8.08C11.4973 8.12759 11.3851 8.19896 11.29 8.29L8.29 11.29C8.1017 11.4783 7.99591 11.7337 7.99591 12C7.99591 12.2663 8.1017 12.5217 8.29 12.71C8.47831 12.8983 8.7337 13.0041 9 13.0041C9.26631 13.0041 9.5217 12.8983 9.71 12.71L11 11.41V15C11 15.2652 11.1054 15.5196 11.2929 15.7071C11.4804 15.8946 11.7348 16 12 16C12.2652 16 12.5196 15.8946 12.7071 15.7071C12.8946 15.5196 13 15.2652 13 15V11.41L14.29 12.71C14.383 12.8037 14.4936 12.8781 14.6154 12.9289C14.7373 12.9797 14.868 13.0058 15 13.0058C15.132 13.0058 15.2627 12.9797 15.3846 12.9289C15.5064 12.8781 15.617 12.8037 15.71 12.71C15.8037 12.617 15.8781 12.5064 15.9289 12.3846C15.9797 12.2627 16.0058 12.132 16.0058 12C16.0058 11.868 15.9797 11.7373 15.9289 11.6154C15.8781 11.4936 15.8037 11.383 15.71 11.29L12.71 8.29ZM12 2C10.0222 2 8.08879 2.58649 6.4443 3.6853C4.79981 4.78412 3.51809 6.3459 2.76121 8.17317C2.00433 10.0004 1.8063 12.0111 2.19215 13.9509C2.578 15.8907 3.53041 17.6725 4.92894 19.0711C6.32746 20.4696 8.10929 21.422 10.0491 21.8079C11.9889 22.1937 13.9996 21.9957 15.8268 21.2388C17.6541 20.4819 19.2159 19.2002 20.3147 17.5557C21.4135 15.9112 22 13.9778 22 12C22 10.6868 21.7413 9.38642 21.2388 8.17317C20.7363 6.95991 19.9997 5.85752 19.0711 4.92893C18.1425 4.00035 17.0401 3.26375 15.8268 2.7612C14.6136 2.25866 13.3132 2 12 2ZM12 20C10.4178 20 8.87104 19.5308 7.55544 18.6518C6.23985 17.7727 5.21447 16.5233 4.60897 15.0615C4.00347 13.5997 3.84504 11.9911 4.15372 10.4393C4.4624 8.88743 5.22433 7.46197 6.34315 6.34315C7.46197 5.22433 8.88743 4.4624 10.4393 4.15372C11.9911 3.84504 13.5997 4.00346 15.0615 4.60896C16.5233 5.21447 17.7727 6.23984 18.6518 7.55544C19.5308 8.87103 20 10.4177 20 12C20 14.1217 19.1572 16.1566 17.6569 17.6569C16.1566 19.1571 14.1217 20 12 20Z' fill='%23ffffff'/%3E%3C/svg%3E");
      }
    }
  }
}

@keyframes remove {
  0% {
    transform: translateX(0);
    height: 60px;
    margin-top: 10px;
  }
  50% {
    transform: translateX(400px);
    height: 60px;
    margin-top: 10px;
  }
  100%
  {
    transform: translateX(400px);
    height: 0;
    margin-top: 0;
  }}
